
.container.profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.edit-profile-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.edit-profile-btn:hover {
    background-color: #0056b3;
}

.follow-btn, .unfollow {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.unfollow {
    background-color: #dc3545;
}

.follow-btn:hover {
    background-color: #218838;
}

.unfollow:hover {
    background-color: #c82333;
}

/* Posts CSS */
.user-posts .post {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.post-title-content h4 {
    margin: 0;
    font-size: 20px;
}

.post-title-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.post-content {
    margin-top: 10px;
}
